.form{
    display: inline-block;
    width:10cm;
    height: 10cm;
    text-align: center;
    background-size: cover;
    font-size: 25px;
    
}
#description{
    padding-top: 5vw;
}
input{
    width:9cm;
    border-top:0px;
    border-left: 0px;
    border-right: 0px;
    border-color: red;
    opacity: 0.8;
    padding: 10px;
}
.form button{
    margin-top: 5px;
    padding: 5px;
    width:3cm;
    border-radius: 25px;
    border: 0;
    background-color:  red;
    color: white;
    font-size: 25px;
}
